{% extends "@Users/layout.html.twig" %}
{% block content %}
    <div class="col-md-4 col-center">
        <h1> Insertar en la base de datos </h1>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success"> {{ message }} </div> 
        {% endfor %}
        {{form_start(form, {'action':'', 'method':'POST'})}}
        {{form_end(form)}}
    </div>
{% endblock %}
